{% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
{% capture month %}{{ page.date | date: "%m" }}{% endcapture %}
<div class="mdl-grid">
{% for picture in page.galleries[include.gallery_id].pictures %}
  <div class="mdl-cell mdl-cell--4-col">
    {% capture picture_url %}/img/{{year}}/{{month}}/{{picture.url}}{% endcapture %}
    <a href="{{picture_url}}" data-lightbox="{{include.gallery_id}}" title="{{picture.caption}}">
      {% cloudinary {{picture_url}} %}<br/>
      hello, image
    </a>
  </div>
{% endfor %}
</div>