{% if post.image %}
  <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url(/images/features/{{post.image.feature}})">
{% else %}
  <div class="mdl-card__title mdl-color-text--grey-50">
{% endif %}
  <h3><a href="{{post.url}}">{{post.title | escape}}</a></h3>
</div>
{% if post.subtitle %}
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
    {{post.subtitle}}
  </div>
{% endif %}
<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
  <div class="minilogo" style="background-image: url('/images/theme/{{post.author}}.jpg');"></div>
  <div>
    <strong>{{post.author}}</strong>
    <span>{{post.date | timeago}}</span>
  </div>
</div>
