<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script src="/js/lightbox-plus-jquery.js"></script>
    <link href="/css/lightbox.min.css" rel="stylesheet" />
    <!-- Start Layout -->
    {% if site.header_type == 'drawer' %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      {% include search_result.html %}
      {% include header_fixed.html %}
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include search_result.html %}
      {% include header.html %}
    {% endif %}

    {{ content }}
    {% include footer.html %}

    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script rel="javascript" type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    <script language="JavaScript" type="text/javascript">
      var links = document.querySelectorAll( '.post-content a' );  
      for (var i = 0, length = links.length; i < length; i++) {  
        if (links[i].hostname != window.location.hostname) {
          links[i].target = '_blank';
        }
      }
    </script>
    
  </body>

</html>
